#loading_register{
    color: blue;
    font-style: italic;
    visibility: hidden;
}

#reason{
    padding: 3px;
    font-weight: bold;
}

.success{
    border: 1px solid green;
    color: green;
}

.failed{
    border: 1px solid red;
    color: red;
}